<h3 *ngIf="isEditing">Editing Recipe</h3>
<h3 *ngIf="!isEditing">Adding New Recipe</h3>
<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!recipeForm.valid || isProcessingAction"
          >
            <ng-container *ngIf="isProcessingAction; else default">
              <span
                class="spinner-border spinner-border-sm"
                aria-hidden="true"
              ></span>
              Saving...
            </ng-container>
            <ng-template #default> Save </ng-template>
          </button>
          <button class="btn btn-danger" type="button" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name" class="form-label">Name</label>
            <input
              name="name"
              id="name"
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  !recipeForm.get('name').valid &&
                  recipeForm.get('name').touched
              }"
              formControlName="name"
            />
            <span class="invalid-feedback">
              <ng-container *ngIf="recipeForm.get('name').hasError('required')"
                >This field is required</ng-container
              >
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imageUrl" class="form-label">Image URL</label>
            <input
              name="imageUrl"
              type="text"
              id="imageUrl"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  !recipeForm.get('imageUrl').valid &&
                  recipeForm.get('imageUrl').touched
              }"
              formControlName="imageUrl"
              #imageUrl
            />
            <span class="invalid-feedback">
              <ng-container
                *ngIf="recipeForm.get('imageUrl').hasError('required')"
                >This field is required</ng-container
              >
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="my-3" *ngIf="imageUrl.value != ''">
            <img [src]="imageUrl.value" class="img-fluid rounded" />
            <div class="form-text">Preview</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description" class="form-label">Description</label>
            <textarea
              name="description"
              id="description"
              type="text"
              class="form-control"
              rows="6"
              [ngClass]="{
                'is-invalid':
                  !recipeForm.get('description').valid &&
                  recipeForm.get('description').touched
              }"
              formControlName="description"
            ></textarea>
            <span class="invalid-feedback">
              <ng-container
                *ngIf="recipeForm.get('description').hasError('required')"
                >This field is required</ng-container
              >
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group" formArrayName="ingredients">
            <label class="form-label">Ingredients</label>
            <div
              class="row mt-2"
              *ngFor="let ingredientCtrl of ingControls; let i = index"
              [formGroupName]="i"
            >
              <div class="col-5">
                <input
                  type="text"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      !recipeForm.get('ingredients.' + i + '.name').valid &&
                      recipeForm.get('ingredients.' + i + '.name').touched
                  }"
                  formControlName="name"
                />
                <span class="invalid-feedback">
                  <ng-container
                    *ngIf="
                      recipeForm
                        .get('ingredients.' + i + '.name')
                        .hasError('required')
                    "
                    >This field is required</ng-container
                  >
                </span>
              </div>
              <div class="row col-5" formGroupName="amount">
                <div class="col-6">
                  <input
                    type="number"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        !recipeForm.get('ingredients.' + i + '.amount.value')
                          .valid &&
                        recipeForm.get('ingredients.' + i + '.amount.value')
                          .touched
                    }"
                    formControlName="value"
                  />
                  <span class="invalid-feedback">
                    <ng-container
                      *ngIf="
                        recipeForm
                          .get('ingredients.' + i + '.amount.value')
                          .hasError('required')
                      "
                      >This field is required</ng-container
                    >
                    <ng-container
                      *ngIf="
                        recipeForm
                          .get('ingredients.' + i + '.amount.value')
                          .hasError('min')
                      "
                      >Amount must be at least 1</ng-container
                    >
                  </span>
                </div>
                <div class="col-5">
                  <select
                    type="number"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        !recipeForm.get('ingredients.' + i + '.amount.unit')
                          .valid &&
                        recipeForm.get('ingredients.' + i + '.amount.unit')
                          .touched
                    }"
                    formControlName="unit"
                  >
                    <option value="g">g</option>
                    <option value="kg">kg</option>
                    <option value="tsp">tsp</option>
                    <option value="tbsp">tbsp</option>
                    <option value="cup">cup</option>
                    <option value="ml">ml</option>
                    <option value="l">l</option>
                  </select>
                  <span class="invalid-feedback">
                    <ng-container
                      *ngIf="
                        recipeForm
                          .get('ingredients.' + i + '.amount.unit')
                          .hasError('required')
                      "
                      >This field is required</ng-container
                    >
                  </span>
                </div>
              </div>
              <div class="col-2">
                <button
                  class="btn btn-danger"
                  type="button"
                  (click)="onIngredientDelete(i)"
                >
                  x
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 mt-2">
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="onIngredientAdd()"
                >
                  New Ingredient
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group" formArrayName="method">
            <label class="form-label">How to Cook</label>
            <div
              class="row mt-2"
              *ngFor="let methodCtrl of methodControls; let i = index"
            >
              <div class="col-1">{{ i + 1 }}.</div>
              <div class="col-9">
                <input
                  type="text"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      !recipeForm.get('method.' + i).valid &&
                      recipeForm.get('method.' + i).touched
                  }"
                  [formControlName]="i"
                />
                <span class="invalid-feedback">
                  <ng-container
                    *ngIf="recipeForm.get('method.' + i).hasError('required')"
                    >This field is required</ng-container
                  >
                </span>
              </div>
              <div class="col-2">
                <button
                  class="btn btn-danger"
                  type="button"
                  (click)="onStepDelete(i)"
                >
                  x
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 mt-2">
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="onStepAdd()"
                >
                  New step
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
