<a
  class="list-group-item list-group-item-action d-flex justify-content-between"
  style="cursor: pointer"
  [routerLink]="[id]"
  routerLinkActive="active"
>
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <p class="list-group-item-text">
      {{ recipe.description | truncate : 85 }}
    </p>
  </div>
  <span class="my-auto">
    <img
      src="{{ recipe.imageUrl }}"
      alt="{{ recipe.name }}"
      style="height: 70px; width: 90px; object-fit: cover"
    />
  </span>
</a>
