<div class="row">
  <div class="col-xs-12">
    <a routerLink="new">
      <button class="btn btn-primary">New recipe</button>
    </a>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <div class="list-group" *ngIf="!isLoadingRecipe">
      <app-recipe-item
        *ngFor="let recipeElement of recipes; let i = index"
        [recipe]="recipeElement"
      ></app-recipe-item>
    </div>

    <div class="list-group" *ngIf="isLoadingRecipe">
      <app-recipe-item-skeleton
        *ngFor="let elemenet of sequenceArray(4)"
      ></app-recipe-item-skeleton>
    </div>
  </div>
</div>
